<section id="{{ data.id }}" data-card-id="{{data.id}}" class="comment-card p-4 md:py-7 md:px-5">
    <h3 class="text-lg font-bold text-gray-800 dark:text-white text-ellipsis">
        Kommentar
    </h3>

    <p class="text-gray-800 dark:text-white mt-4">Hier kannst du Nachrichten an die Zunkunft hinterlassen.</p>

    <div class="relative">
        <input type="text" id="current-job-name" class="peer py-3 pe-0 ps-8 block w-full bg-transparent border-t-transparent border-b-2 border-x-transparent border-b-gray-200 text-sm focus:border-t-transparent focus:border-x-transparent focus:border-b-blue-500 focus:ring-0 disabled:opacity-50 disabled:pointer-events-none dark:border-b-gray-700 dark:text-gray-400 dark:focus:ring-gray-600 dark:focus:border-b-gray-600" placeholder="Y-Wert">
        <div class="absolute bottom-[14.4px] start-0 flex items-center pointer-events-none ps-2 peer-disabled:opacity-50 peer-disabled:pointer-events-none">
            <span>Name</span>
        </div>
      </div>
</section>