[Unit]
Description=Dobot API Service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=dobot
WorkingDirectory=/home/dobot/DOBOT
ExecStart=/usr/bin/python3 api.py

[Install]
WantedBy=multi-user.target
