{% extends "layout.html" %}
{% block title %}
Home
{% endblock title %}
{% block scripts %}
  <script type="module" src="{{url_for('static', filename='/dist/home.min.js')}}"></script>
{% endblock scripts %}
{% block breadcrumb %}
<!-- 
    Example:
    <li class="flex items-center text-sm font-semibold text-gray-800 truncate dark:text-gray-400" aria-current="page">
    <svg class="flex-shrink-0 mx-3 overflow-visible size-2.5 text-gray-400 dark:text-gray-600" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M5 1L10.6869 7.16086C10.8637 7.35239 10.8637 7.64761 10.6869 7.83914L5 14" stroke="currentColor" stroke-width="2" stroke-linecap="round" />
    </svg>
    Dobot Arm
</li>
 -->
{% endblock breadcrumb %}
{% block page_content %}
<div class="w-full mt-8">
  <div class="grid content-layout">

    <div class="inner-content flex gap-8 flex-col">
      {% for task in data.tasks %}
      <div data-task-id="{{task[0]}}" class="task flex flex-col bg-white border shadow-sm rounded-xl dark:bg-neutral-900 dark:border-neutral-700 dark:shadow-neutral-700/70">
        <div class="flex justify-between items-center border-b rounded-t-xl py-3 px-4 md:px-5 dark:border-gray-700">
          <h3 class="text-lg font-bold text-gray-800 dark:text-white">
            {{ task[1] }}
          </h3>
          <div class="flex items-center gap-x-1">
            <div class="hs-dropdown relative inline-flex">
              <div class="hs-tooltip inline-block [--placement:left]">
                <button id="hs-dropdown-custom-icon-trigger" type="button"
                  class="hs-dropdown-toggle flex justify-center items-center size-9 text-sm font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-white dark:hover:bg-neutral-800">
                  <svg class="flex-none size-4 text-gray-600" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                    viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round">
                    <circle cx="12" cy="12" r="1" />
                    <circle cx="12" cy="5" r="1" />
                    <circle cx="12" cy="19" r="1" />
                  </svg>
                  <span
                    class="hs-tooltip-content hs-tooltip-shown:opacity-100 hs-tooltip-shown:visible opacity-0 transition-opacity inline-block absolute invisible z-10 py-1 px-2 bg-gray-900 text-xs font-medium text-white rounded shadow-sm dark:bg-neutral-700"
                    role="tooltip">
                    Options
                  </span>
                </button>
              </div>
              <!-- Hier dropdown -->
              {% include "task-dropdown.html" %}
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
<!-- ### Floating button ### -->

<div class="flex fixed right-4 bottom-2 isolate z-50 flex-col-reverse items-center gap-2">
  <div class="hs-tooltip inline-block [--placement:left]">
    <a
       href="/task" class="grid place-content-center h-16 aspect-square p-0 rounded-full border-none shadow-sm z-20 bg-blue-500 hover:bg-blue-600 text-blue-100 hover:text-blue-200 focus:outline-none focus:bg-blue-700 dark:bg-blue-600 dark:hover:bg-blue-700">
      <svg class="flex-shrink-0 size-5 h-7 w-7" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
        stroke="currentColor" stroke-width="2">
        <path stroke-linecap="round" stroke-linejoin="round" d="M12 4v16m8-8H4" />
      </svg>
      <span
        class="hs-tooltip-content hs-tooltip-shown:opacity-100 hs-tooltip-shown:visible opacity-0 transition-opacity inline-block absolute invisible z-10 py-1 px-2 bg-gray-900 text-xs font-medium text-white rounded shadow-sm dark:bg-neutral-700"
        role="tooltip">
        Create Task
      </span>
    </a>
  </div>
  <div class="hs-tooltip inline-block [--placement:left]">
    <button id="emergency-stop--btn"
      class="grid place-content-center h-16 aspect-square p-0 rounded-full border-none shadow-sm z-20  bg-red-500 hover:bg-red-600 text-red-100 hover:text-red-200 focus:outline-none focus:bg-red-700 dark:bg-red-600 dark:hover:bg-red-700">
      <svg class="flex-shrink-0 size-5 h-7 w-7" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
        stroke="currentColor" stroke-width="2">
        <path stroke-linecap="round" stroke-linejoin="round"
          d="M18.364 18.364A9 9 0 005.636 5.636m12.728 12.728A9 9 0 015.636 5.636m12.728 12.728L5.636 5.636" />
      </svg>
      <span
        class="hs-tooltip-content hs-tooltip-shown:opacity-100 hs-tooltip-shown:visible opacity-0 transition-opacity inline-block absolute invisible z-10 py-1 px-2 bg-gray-900 text-xs font-medium text-white rounded shadow-sm dark:bg-neutral-700"
        role="tooltip">
        Emergency Stop
      </span>
    </button>
  </div>
  <div class="hs-tooltip inline-block [--placement:left]">
    <button type="button" id="home--btn"
      class="grid place-content-center h-16 aspect-square p-0 rounded-full border-none shadow-sm z-20  bg-green-500 hover:bg-green-600 text-green-100 hover:text-grren-200 focus:outline-none focus:bg-green-700 dark:bg-green-600 dark:hover:bg-green-700">
      <svg class="flex-shrink-0 size-5 h-7 w-7" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="m2.25 12 8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
      </svg>      
      <span class="hs-tooltip-content hs-tooltip-shown:opacity-100 hs-tooltip-shown:visible opacity-0 transition-opacity inline-block absolute invisible z-10 py-1 px-2 bg-gray-900 text-xs font-medium text-white rounded shadow-sm dark:bg-neutral-700" role="tooltip">
        Home
      </span>
    </button>
  </div>
</div>

{% endblock page_content %}