<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %} Dobot Arm {% endblock title %}</title>

        <!-- ### Styles ### -->

        <link rel="stylesheet" href="/static/css/output.css">
        <link rel="stylesheet" href="/static/css/main.css">
        {% block styles %}{% endblock styles %}

        <!-- ### Scripts ### -->
        <script
          src="https://code.jquery.com/jquery-3.7.1.min.js"
          integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
          crossorigin="anonymous" defer>
        </script>

        <!-- ### Dont forget to set the defer attr ### -->
        <script src="{{url_for('static', filename='/node_modules/preline/preline.js')}}" defer></script>
        {% block scripts %}{% endblock scripts %}

    </head>
    <body class="bg-gray-50 dark:bg-neutral-900">
        <!-- ========== HEADER ========== -->
        {% include "./components/navbars/navbar.html" %}

        <!-- ========== END HEADER ========== -->
      
        <!-- ========== MAIN CONTENT ========== -->

        {% block page_sidebar %}  {% endblock page_sidebar %}
        
        <!-- Content -->
          <!-- Page Heading -->
          {% block page_heading %} {% endblock page_heading %}
          <!-- End Page Heading -->

          {% block page_content %} {% endblock page_content %}
        <!-- End Content -->
        <!-- ========== END MAIN CONTENT ========== -->
        {% block dialog_section%}
        {% endblock dialog_section%}
      </body>
</html>