<div class="flex flex-col w-full bg-white border shadow-sm rounded-xl dark:bg-slate-900 dark:border-gray-700 dark:shadow-slate-700/[.7]">
    <!-- Select (Mobile only) -->
    <div class="sm:hidden">
      <label for="hs-card-nav-tabs" class="sr-only">Select a nav</label>
      <select name="hs-card-nav-tabs" id="hs-card-nav-tabs" class="block w-full border-t-0 border-x-0 border-gray-300 rounded-t-xl focus:ring-blue-600 focus:border-blue-600">
        <option selected>Befehl</option>
        <option>Grafik</option>
        <option>Variablen</option>
      </select>
    </div>
    <!-- End Select (Mobile only) -->
  
    <!-- Nav Tabs (Device only) -->
    <div class="hidden sm:block">
      <nav class="relative z-0 flex border-b rounded-xl divide-x divide-gray-200 dark:border-gray-700 dark:divide-gray-700" aria-label="Tabs">
        <a class="group relative min-w-0 flex-1 bg-white py-4 px-4 border-b-2 border-b-blue-600 text-gray-900 rounded-ss-xl text-sm font-medium text-center overflow-hidden hover:bg-gray-50 focus:z-10 dark:bg-gray-800 dark:hover:bg-gray-700 dark:text-gray-300" aria-current="page" href="#">
          Befehl
        </a>
  
        <a class="group relative min-w-0 flex-1 bg-white py-4 px-4 text-gray-500 hover:text-gray-700 text-sm font-medium text-center overflow-hidden hover:bg-gray-50 focus:z-10 dark:bg-gray-800 dark:hover:bg-gray-700 dark:hover:text-gray-400" href="#">
          Grafik
        </a>
  
        <a class="group relative min-w-0 flex-1 bg-white py-4 px-4 text-gray-500 hover:text-gray-700 text-sm font-medium text-center overflow-hidden hover:bg-gray-50 focus:z-10 dark:bg-gray-800 dark:hover:bg-gray-700 dark:hover:text-gray-400" href="#">
          Variablen
        </a>
      </nav>
    </div>
    <!-- End Nav Tabs (Device only) -->
  
    <div id="task-card-content" class="p-4 md:py-7 md:px-5 text-gray-500 dark:text-gray-400">
        <div>Hello World</div>
    </div>
  </div>